<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
    <title>{{ page.title }}</title> 
    <link rel="stylesheet" href="http://eclipsefp.github.com/styles/main.css"> 
    <link rel="stylesheet" href="http://eclipsefp.github.com/styles/syntax.css"> 
</head> 
<body>
<div id="container">
<h1>{{ page.title_show }}</h1>
<center>
<table style="width: 780px:">
  <tr>
    <td width="130px" align="center"><a href="index.html">Home</a></td>
    <td width="130px" align="center"><a href="features.html">Features</a></td>
    <td width="130px" align="center"><a href="install.html">Installation</a></td>
    <td width="130px" align="center"><a href="userguide.html">User Guide</a></td>
    <td width="130px" align="center"><a href="faq.html">FAQ</a></td>
    <td width="130px" align="center"><a href="contact.html">Contact</a></td>
  </tr>
</table>
</center>
<hr style="width: 780px; margin: 0;" />
{{ content }}
</div>
</body>
</html>
