<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
    <title>{{ page.title }}</title> 
    <link rel="stylesheet" href="http://eclipsefp.github.com/styles/main.css"> 
    <link rel="stylesheet" href="http://eclipsefp.github.com/styles/syntax.css"> 
</head> 
<body>
<h1>{{ page.title_show }}</h1>
<table width="800px">
  <tr>
    <td>Home</td>
    <td>Features</td>
    <td>Installation</td>
    <td>User Guide</td>
    <td>FAQ</td>
    <td>About</td>
  </tr>
</table>
<div id="container">
{{ content }}
</div>
</body>
</html>
