body {
    margin-top: 1.0em;
    background-color: #fff;
    font-family: "helvetica";
    font-size: 0.9em;
    text-align: left;
    line-height: 125%;
}
#container {
    margin: 0 auto;
    width: 800px;
}
#container table {
    margin: 0px;
    padding: 0px;
    width: 800px;
}
#container table tr td {
    padding: 1.2em;
}
#container hr {
    width: 780px;
    margin: 0;
    border-bottom: 1px solid #aaa;
}
.toc :hover {
    background-color: #49637C;
    color: #FFFFFF;
    padding: 0px;
}
.toc a {
    text-decoration: none;
    color: #49637C;
}
.selected {
    font-size: 130%;
    font-weight: bold;
}
h1 {
    font-size: 2em;
    color: #49637C;
    margin-bottom: 10px;
}
h1 a {
    text-decoration: none;
}
h2 {
    font-size: 1.5em;
    color: #49637C;
}
h3 {
    font-size: 1.0em;
    color: #49637C;
}
a {
    color: #49637C;
}
.description {
    font-size: 0.6em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}
.download {
    float: right;
}
pre {
    background: #F8F8F8; /* The same as the GitHub background color since I'm using their syntax.css */
    padding: 15px;
}
img {
    border: 0px;
}
.screenshotframe {
    text-align: center; /* The screenshot and it's border should be in the center of the page */
}
.screenshot {
    border: 10px solid #F8F8F8; /* Soft grey border */
}
